@font-face {
  font-family: "Sofachrome";
  src: url("fonts/sofachrome.ttf") format("truetype");
}

@font-face {
  font-family: "Radjhani";
  font-weight: normal;
  src: url("fonts/Rajdhani-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Radjhani";
  font-weight: bold;
  src: url("fonts/Rajdhani-Bold.ttf") format("truetype");
}

form {
  margin: 0;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(images/splash2.jpg);
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.splash {
  width: 90vw;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  font-family: Radjhani;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 10;
  position: relative;
}

.main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.main .left {
  max-width: 800px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.main .right {
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1330px) {
  .main {
    flex-wrap: nowrap;
  }
  .main > * {
    width: 50%;
  }
  .main .right {
    margin-left: 1rem;
  }
}

.main .title {
  color: white;
  font-family: SofaChrome;
  text-align: center;
  line-height: 1;
}

.main .title.starcraft {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  text-indent: 1rem;
}
.main .title.gambit {
  font-size: 5rem;
}

/* @media only screen and (max-width: 1330px) {
  .main .title.starcraft {
    font-size: 2.5vw;
    letter-spacing: 0.5vw;
    text-indent: 1vw;
  }
  .main .title.gambit {
    font-size: 5vw;
  }
} */

.main .description {
  color: white;
  font-size: 1.5rem;
  line-height: 1.2;
}

.main .details {
  color: white;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
}

.main .details p {
  margin: 0.5rem 0;
}

button {
  color: white;
  background-color: #ff0252;
  padding: 8px 16px 6px;
  min-width: 64px;
  box-sizing: border-box;
  border-radius: 4px;
  border: 0;
  cursor: pointer;
  display: inline-flex;
  outline: 0;
  align-items: center;
  user-select: none;
  justify-content: center;
  text-decoration: none;
  font-family: Radjhani;
  font-size: 2rem;
  font-weight: bold;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

  /* box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%); */
  box-shadow: 0 0 0 0 #ff0252;
}

button:hover {
  /* box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%); */
  box-shadow: 0 0 16px 0 #ff0252;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(15, 20, 55, 0.5);
  border-radius: 1rem;
  /* border: 1px solid rgba(50, 232, 255, 0.25); */
  /* box-shadow: 0px 0px 4px 0px rgba(50, 232, 255, 0.5); */
}

.card-header,
.card-footer {
  flex-shrink: 0;
  flex-grow: 0;
}

.card-header {
  padding: 1rem 1rem 0;
}

.card-footer {
  padding: 0 1rem 1rem;
}

.card-content {
  flex-shrink: 0;
  flex-grow: 1;
  padding: 1rem;
}

.screenshot img {
  width: 100%;
  display: block;
}
